@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  //   background-position: top -820px left -640px, bottom -990px right -500px;
  background-position: top -900px left -700px, bottom -1100px right -550px;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
}

@media screen and (max-width: 1201px) {
  body {
    background-position: top -900px left -700px, bottom -1100px right -550px;
  }
}

@media screen and (max-width: 1025px) {
  body {
    background-position: top -600px left -400px, bottom -850px right -400px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-position: top -350px left -600px, bottom -450px right -650px;
  }
}

.cardContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  min-width: 15rem;
  width: 21.9rem;
  max-width: 21.9rem;
  margin: 0 1em;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 12px 28px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 12px 28px 3px rgba(0, 0, 0, 0.24);
}

.bgHeader {
  height: 90%;
  min-height: 8.8rem;
  width: 100%;
  border-radius: 15px 15px 0 0;
  background-image: url("../images/bg-pattern-card.svg");
  background-size: cover;
}

.profilePic {
  background-image: url("../images/image-victor.jpg");
  min-height: 6rem;
  min-width: 6rem;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  border: 5px solid white;
}

.profileDetails {
  margin-top: 20%;
  text-align: center;
  font-size: 1.1rem;

  .name {
    font-weight: 700;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    color: hsl(229, 23%, 23%);
  }
  .age {
    font-weight: 400;
    margin-left: 0.4em;
    color: hsl(227, 10%, 46%);
  }
}

.location {
  text-align: center;
  color: hsl(227, 10%, 46%);
  margin: 0.5em 0 2em 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.statsContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-top: hsl(0, 0%, 59%) 1px solid;
  .stat {
    margin: 1.5em 0;
    h2 {
      color: hsl(229, 23%, 23%);
      margin: 0;
      font-weight: 700;
      font-size: 1.1rem;
    }
    p {
      color: hsl(227, 10%, 46%);
      margin: 0.5em 0;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 0.6rem;
    }
  }
}
